@import '../../../styles/settings.scss';

.page-title {
  margin: $base-size 0;
  font-size: $base-size * 2;
  font-weight: 600;
  position: relative;
  text-align: center;
  color: $color-primary;
}
