@import '../../../styles/settings';

.class-item-main {
  margin: 20px 0;
  padding: 20px 0;
  color: #fff;
  background-color: #9c88ff;
  cursor: pointer;

  h3, h4 {
    display: inline-flex;
    padding: 0 20px;
  }

  .students {
    color: $color-students-list;
  }

  .teachers {
    color: $color-teachers-list;
  }
}

.users-box {
  display: flex;
  justify-content: space-around;

  .users-select {
    width: 40%;
  }
}

.students-back {
  background-color: $color-students-list;
}

.teachers-back {
  background-color: $color-teachers-list;
}
