.logo-200 {
  width: 170px;
  height: 65px;
  margin: 0;
}

.navbar-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-box {
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  p {
    padding-right: 12px;
    font-weight: 500;
  }

  span {
    font-weight: 200;
    font-size: 14px;
  }
}
