@import "../../../styles/settings";

.user-column {
  display: inline-flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  padding: 10px;
}

.user-row {
  color: #353b48;
  margin: 0;
}
