@import 'src/styles/settings';

.parent-item-main {
  display: flex;
  background-color: $color-back-list;
  color: $color-set;
  padding: 10px 0;
  border-top: 2px solid $color-text-light;
  cursor: pointer;
}

.parent-collapse {
  //background-image: linear-gradient($color-back-list, #fff 30%, #fff 70%, $color-back-list);
  background-color: $color-back-list;
}

.parent-item-card {
  border: none !important;
}
