@import "../../../styles/settings";

button {
  outline: none !important;
}

.panel-main {
  display: flex;
  justify-content: space-between;
  align-items: center;

  select {
    min-width: 150px;
  }
}
