.box-list-main {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  list-style-type: none;
}

.empty-space {
  height: 120px;
  margin-bottom: 16px;
}

.alert-working {
  display: flex;
  align-items: center;
  height: 146px;
  margin-bottom: 16px;
}
