@import '../../../styles/settings.scss';

.button {
  background: transparent;
  border: 1px solid;
  color: $color-text-light;
  text-align: center;
  line-height: 1.3;
  padding: $base-size/2 $base-size;
  margin:  $base-size;
  font-size: $base-size * 1.2;
  border-radius: $radius;
  cursor: pointer;
  outline: none;
  opacity: 0.7;
  transition: $transition2;

  &--success {
    color: $color-success;
  }

  &--primary {
    color: $color-primary;
  }

  &--info {
    color: $color-info;
  }

  &--danger {
    color: $color-danger;
  }

  &:hover {
    box-shadow: -5px -5px 20px rgba(0,0,0,0.2);
    opacity: 1;
  }
  &:active {
    box-shadow: 0 0 0 rgba(0,0,0,0.2);
  }
}

.progress-votes {
  cursor: progress;

}

.disabled-votes {
  color: $color-text-light;
}
