@import "../../../styles/settings";

.options-main {
  display: flex;
  align-items: center;

  .plus-or-minus {
    display: flex;
    flex-direction: column;
    justify-content: center;

    span {
      width: 2rem;
      height: 1.5rem;
      display: inherit;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.select-main {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  align-items: center;

  select {
    width: fit-content;
    font-size: $base-size;
  }

  .second-row {
    display: inherit;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }
}

