@import "settings";
@import "typography";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: $color-text-light;
  background: $color-background;
  font-family: $font-text;
  font-size: ($base-size * 1.3);
  line-height: 1.7;
  letter-spacing: 0.5px;
  overflow-y: scroll;
}

a, a:hover, a:visited {
  text-decoration: none;
}

.color-red {
  color: #EA2027;
  background-color: #343A40;
  border: none;
}

.color-orange {
  color: #fa8231;
  background-color: #343A40;
  border: none;
}

.color-black {
  color: #000;
  background-color: #fff;
}

.color-yellow {
  color: #fed330;
  background-color: #343A40;
  border: none;
}
