$base-size: 14px;

$color-text: #333;
$color-text-light: #666;
$color-background: #fff;
$color-primary: #009DDE;
$color-success: #01916d;
$color-info: #2b7cb3;
$color-info-back: #00a8ff;
$color-success-back: #44bd32;
$color-error-back: #e84118;
$color-warning-back: #f39c12;
$color-alert-text: #f5f6fa;
$color-danger: #f0932b;
$color-class-box-back: #7bed9f;
$color-class-box-active: #2ed573;
$color-diary-box-back: #a29bfe;
$color-unset: #ffffff;
$color-set: #f1f2f6;


$font-text: 'Roboto', sans-serif;

$radius: 5px;
$box-shadow: 5px 5px 5px rgba(0, 0, 0, .8);
$radius-alert: 10px;
$transition2: all 0.1s;
