$base-size: 14px;

$color-text-light: #666;
$color-background: #fff;
$color-primary: #009DDE;
$color-success: #01916d;
$color-info: #2b7cb3;
$color-danger: #f0932b;

$font-text: 'Roboto', sans-serif;

$radius: 5px;
$transition2: all 0.1s;
